/**
 * Dark Mode for Avada in WP Dashboard
 */

#flatsome-notice.notice {background-color: #008080 !important; }

.flatsome-panel .about-wrap .flatsome-panel .inner-panel {
  background-color: #333 !important;
 }
 /* advanced options */
 #of_container #content { background-color: #000 !important; }
 
 #of_container #of-nav ul li.current a, #of_container #of-nav ul li a:hover {
  color: #ccc !important;
  background-color: #666 !important;
  }
